{% extends "template.html" %}
{% block conteudo %}
    <main>
        <h1>NuConta Crédito</h1>                                               <!--Sub-título 1-->
        <h3>Extrato Total de {{ data }} </h3>                                  <!--Sub-título 2-->
        <table class="table table-striped table-responsive table-bordered">    <!--Início de uma tabela-->
            <theard>                                                           <!--Início do cabeçalho da tabela-->
                <tr>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Identificação</th>
                    <th>Valor</th>
                </tr>
            </theard>                                                          <!--Fim do cabeçalho da tabela-->
            <tbody>                                                            <!--Início do corpo da tabela-->
            {% for transacao in extrato %}
                    <tr>
                        <td>{{ transacao.data }}</td>
                        <td>{{ transacao.categoria }}</td>
                        <td>{{ transacao.referencia }}</td>
                        <td>{{ transacao.valor }}</td>
                    </tr>
            {% endfor %}
            </tbody>                                                           <!--Fim do corpo da tabela-->
        </table>                                                               <!--Fim de uma tabela-->
        <p>Segundo <a href="https:\\www.nubank.com.br">Nubank</a></p>
        <h3>Quantidade de Transações do Mês</h3>                               <!--Sub-título 3-->
            <p>{{ quantidade }}</p>
        <h3>Maior Gasto do mês</h3>
            <table class="table table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Categoria</th>
                        <th>Identificação</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ maiorGasto.data }}</td>
                        <td>{{ maiorGasto.categoria }}</td>
                        <td>{{ maiorGasto.referencia }}</td>
                        <td>{{ maiorGasto.valor }}</td>
                    </tr>
                </tbody>
            </table>
        <h3>Valor total gasto</h3>
            <p>{{ valorGastoTotal }}</p>
        <h3>Valor total pago</h3>
            <p>{{ valorPagoTotal }}</p>
        <h3>Valor Total da Categoria {{ categoria }}</h3>                      <!--Sub-título 4-->
            <p> {{ valorCategoria }}</p>
        <h3>Transações referentes a {{ Data }}</h3>                            <!--Subtítulo 5-->
        <table class="table table-striped table-responsive table-bordered">    <!--Início de uma tabela-->
            <thead>                                                            <!--Início do cabeçalho da tabela-->
                <tr>
                    <th> Data </th>
                    <th> Categoria </th>
                    <th> Referência </th>
                    <th> Valor </th>
                </tr>
            </thead>                                                           <!--Fim do cabeçalho da tabela-->
            <tbody>                                                            <!--Início do corpo da tabela-->
            {% for transacao in transacoesData %}
                <tr>
                    <td>{{ transacao.data }} </td>
                    <td>{{ transacao.categoria }}</td>
                    <td>{{ transacao.referencia}}</td>
                    <td>{{ transacao.valor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}