<!DOCTYPE html>
<html>                                                              <!--Início do código HTML-->
	<head>                                                          <!--Início do cabeçalho-->
		<title>NuPython</title>                                     <!--Título-->
		<meta charset="utf-8">                                      <!--Definindo ................-->
        <meta name="viewport" content="width=device, initial-scale=1">
		<link rel="stylesheet" href="../static/bootstrap.css">
	</head>                                                         <!--Fim do cabeçalho-->
	<body>
        {% block conteudo %}
        {% endblock %}
		<nav>                                                       <!--Início da caixa de navegação-->
			<h1>Alex Lorenz</h1>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Teste</a></li>
			</ul>
		</nav>                                                      <!--Fim da caixa de navegação-->
		<footer>                                                    <!--Início do rodapé-->
			&copy; Alex Lorenz 2019
		</footer>                                                   <!--Fim do rodapé-->
	</body>                                                         <!--Fim do corpo do texto-->
</html>